.pokemon-detail-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e0f8cf;
    border-radius: 10px;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid #526f00;
    text-align: center;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 15px;
    background-color: #333;
    color: #c7f0d8;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8em;
    transition: background-color 0.2s ease, transform 0.1s ease;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.5);
}

.back-button:hover {
    background-color: #555;
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}

.pokemon-detail-card {
    background-color: #c7f0d8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border: 2px solid #526f00;
}

.detail-name {
    text-transform: capitalize;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 8px;
    text-shadow: 1px 1px #000;
}

.detail-id {
    font-size: 0.6em;
    color: #666;
}

.detail-image-wrapper {
    margin: 15px 0;
    background-color: #b0d8a8;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #668800;
}

.detail-image {
    width: 130px;
    height: 130px;
    object-fit: contain;
    image-rendering: pixelated;
}

.detail-types {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.detail-stats,
.detail-abilities,
.detail-dimensions {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px dashed #668800;
    text-align: left;
}

.detail-stats h3,
.detail-abilities h3,
.detail-dimensions h3 {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
}

.detail-stats ul,
.detail-abilities ul {
    list-style: none;
    padding: 0;
}

.detail-stats li,
.detail-abilities li {
    background-color: #e0f8cf;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    border: 1px solid #668800;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
}

.detail-abilities li {
        justify-content: center;
}

.detail-stats li span:first-child {
    font-weight: bold;
    text-transform: capitalize;
}

.detail-dimensions p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 6px;
}

.detail-loading, .detail-error, .detail-no-data {
        text-align: center;
        margin-top: 30px;
        font-size: 1.2em;
        color: #333;
}

.detail-error {
        color: #b30000;
}
